

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
    --fonte--princi: "inter";
    --botao-azul-efeito: #3c92fa;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte--princi);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
} 
/* background image serve para colocar uma imagem como fundo
repeat fala pra nao espelhar a imagen 
contain quer dizer q o back ground bai ocupar a section */

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
/* height quer dizer que vai usar a pagina toda
grid tenta separar cadaelemento */

.conteiner__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em ;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.conteiner__botaose{
    background-color: transparent;
    border: 2px solid ;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
}

.conteiner__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.conteiner__titulo{
    font-size: 32px;
    font-weight: 700;
}

.conteiner__imagen{
    margin: 1em 0 2em 0;
}
/*  esse tipo de margin funciona como 1 relogio
1 valor tem peso meia nooite 2 das 6 da manha
3 do meio dia e 4 das 6 da tarde */

.conteiner__caixa{
    margin: 0 6em;
}
/* ja assim funciona baixo cima e lados */

.conteiner__secundario{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 5em;
    height: 100vh;
}

.conteiner__descricao{
    margin: 20em 0 15em 0;
    
}

.img__secundario{
    width: 75%;
   
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    padding: 0 0 0.1em 0;
}

.descricao__titulo__paragrafo{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.conteiner__terce{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100vh;

}

.conteiner__descricao__terce{
    margin: 6em 5em 12em 7em;
}

.img__telas{
    width: 80%;
}

.conteiner__terce__paragrafo{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
    padding: 1em;
}

.conteiner__botao__terce{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em ;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    width: 18%;
}
/* podia ter usado inline:block */

.descricao__baixe{
    padding: 8em 3em 0 0;

}

.conteiner__ultimo{
    align-items: center;
    text-align: center;
    
}

.divisao{
    display: grid;
    grid-template-columns: 30% 30% 30%;
   padding: 5em 0 0 15em;
}   
.divisao__secu{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 3em 2em 5em 13em;
}


.titulo__rodape{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}



.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
    margin-top: 2em;
    text-decoration: none;
}
 
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: var(--fonte--princi);
    font-size: 16px;
    font-weight: 400;
    margin-left: 1em;
}


.rodape__texto {
    margin: 1.5em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}


.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active {
    color:green
}

.conteiner__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}


.conteiner__botaose:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}


.conteiner__botao__terce:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}


 
